@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Syne+Mono&display=swap');



*{
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif; 
}

$c_grey: rgba(178,189,187,0.6);
$c_sgrey: rgba(37, 39, 39, 0.34);
$data_font: 'Syne Mono', monospace;


@mixin boxTheme {
    border-radius: 20px;
    box-shadow: 3px 3px $c_sgrey;
    background-color: $c_grey;
    padding: 8%;
    width: fit-content;
    height: fit-content;
}

.background {
    position: fixed;
    top: -30%;
    z-index: -1;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    width: 100%;
    overflow: hidden;
}

.App{
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

.mainBox{
    @include boxTheme;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
}


.stats{
    @include boxTheme;
    letter-spacing: 1px;
    line-height: 35px; 
    font-family: $data_font;
    h1{
        margin-bottom: 5%;
        font-family: inherit;
    }
    h3 {
        font-family: inherit;
    }
}

.select{
    margin-top: 5%;
}

.country{
    width: 100%;
    margin: 10%;
    text-align: center;
    h1{
        font-size: 98px;
        margin-bottom: 10%;
    }
    p{
        font-size: 48px;
        font-family: $data_font;
    }
}

@media only screen and  (max-width: 970px)
{
    .stats{
        width: 100%;
        margin-bottom: 10%;
        text-align: center;
        height: 50vh;
        padding: 0px;
        padding-top: 20px;
    }


    .App{
        padding: 5%;
        display: block;
        grid-template-columns: 1fr;
        width: 90%;
    }

    .country{
        h1{
            font-size: 56px;
        }
        p{
            font-size: 34px;
        }
    }

    .mainBox{
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 100%;
    }
}